*{
    margin: 0;
    padding: 0;
}

.title{
    width: 100%;
    height:100px;
    background-color: black;
}

.logo{
    width:60%;
    height:100px;
    background: transparent;
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    display: table-cell;
    top:0;
    left:0;
}

#word1{
    font-size: 35px;
    font-family: Lucida;
    color: white;
    letter-spacing: 10px;
    text-align: left;
}

#word2{
    font-size: 10px;
    font-family: "Javanese Text";
    color: white;
    letter-spacing: 5px;
    text-align: left;
    padding-top: 10px;
}

.navigation {

    width:40%;
    height:100px;
    background: transparent;
    text-align: right;
    padding-top: 20px;
    padding-right: 0px;
    float: right;
}

.navigation a:link,
.navigation a:visited {
    color: white;
}

.navigation span {
    background: black;
    display: inline-block;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
}

.navigation a:hover span {
    background: royalblue;
}

.carouselMap {
    padding-top: 20px;
    margin: 0 auto;
    text-align: center
}


.name{
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    padding-bottom: 15px;
}
.author{
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    padding-bottom: 20px;
    font-family: "cursive",serif;
}
.text{
    font-size: 20px;
    padding-bottom: 50px;
    width: 270px;
    line-height: 50px;
    text-indent: 2em
}

.jump {
    width: 300px;
    font-size: 25px;
    line-height: 20px;
    align-self: center;
    letter-spacing: 5px;
    font-family: "Times New Roman",serif;
}

.jump :hover{
    color: royalblue;
}

.jump a{
    text-decoration:none;
    color: dimgrey;
}

.foot{
    text-align: center;
    background-color: black;
    height: 50px;
    padding: 10px;
}

#word3{
    color: white;
}


#trace {
    color: orangered;
    font-size: large;
    text-align: left;
    padding-left: 20px;
    font-weight: bolder;
    font-family: 新宋体;
}
#trace a{
    text-decoration: none;
    color: orangered;
}

#trace a:hover{
    color:cornflowerblue;
}



#demo {
    display: block;
    width: 225px;
    height: 225px;
    position: relative;
    border: 1px solid #ccc;
    float: left;
    margin-right: 2%;
}

#small-box {
    position: relative;
    z-index: 1;
}

#float-box {
    display: none;
    width: 90px;
    height: 90px;
    position: absolute;
    background: #ffffcc;
    border: 1px solid #ccc;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#mark {
    position: absolute;
    display: block;
    width: 225px;
    height: 225px;
    background-color: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 10;
}

#big-box {
    display: none;
    position: absolute;
    top: 0;
    left: 230px;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border: 1px solid #ccc;
    z-index: 1;
}

#big-box img {
    position: absolute;
    z-index: 5;
    width: 700px;
    height: 700px;
}

#small-box img {
    width: 225px;
    height: 225px;
}